<!DOCTYPE html>
<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header>
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
			<div class="right">
				<a class="active" href="/login">Log in</a>
			</div>
		</header>
        <!-- <% include ./partials/nav %> -->
		<section>
			<div class="container">
                <!-- <div class="box one ground box-border-hover margin-top-15 padding-5">
                    <h3 class="title-soft underline center">Buscar Produtos</h3>
                    <form id="product-filter-form" class="box one center">
                        <input type="hidden" name="location" value="product-manage" autocomplete="off">
                        <input type="text" name="name" class="btn-generic-big" placeholder="Nome" autocomplete="off"><br>
                        <input type="number" name="code" class="btn-generic-small" placeholder="Cód" autocomplete="off">
                        <select name="color" class="btn-generic-small" autocomplete="off">
                            <option value="">Cor</option>
                            <% for(i in productColors){ %>
                                <option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
                            <% } %>
                        </select><br>
                        <select name="brand" class="btn-generic-big" autocomplete="off">
                            <option value="">Marca do Produto</option>
                            <option value="Sem marca">Sem marca</option>
                            <option value="J.A Rio Militar">J.A Rio Militar</option>
                        </select><br>
                        <input type="submit" name="submit" class="btn-submit" value="Filtrar">
                    </form>

                    <div id="product-manage-filter-box" class="box-1" style="display:none">
                        <table class="tbl-info width-fill" id="product-manage-filter-table"></table>
                        <br>
                        <% include ./partials/carousel %>
                    </div>
                </div> -->

                
               <!--  <div class="box two ground margin-top-15 box-border">
                    <div class="container h-center padding-5">
                        <div class="mobile-box two padding-5 box-hover">
                            <p class="bold padding-5">Inputs</p>
                                <p>- Valor do produto</p>
                                <p>- quantidade de dias</p>
                                <p>- taxa fixa</p>
                                <p>- taxa acrescida</p>
                        </div>

                        <div class="mobile-box two padding-5 box-hover">
                            <p class="bold padding-5">Outputs</p>
                                <p>- valor total</p>
                                <p>- valor das parcelas</p>
                                <p>- valor acrescido</p>
                        </div>
                    </div>
                </div> -->

                <div class="box two ground margin-top-15 padding-10">
                    <h3 class="title-soft underline center">Calcular juros</h3>
                    <form id="proposal-form" class="box one padding-10">
                        <div class="container">
                            <input type="number" class="btn five price box-hover padding-5" name="value" step="0.01" value="" placeholder="Valor" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value=''}"/>
                            <select class="btn five bold box-hover padding-5" name="times">
                                <option value="1">30 dias</option>
                                <option value="2">60 dias</option>
                                <option value="3">90 dias</option>
                            </select>
                            <input type="number" class="btn five bold box-hover padding-5" name="fixed-interest-rate" step="0.01" value="" placeholder="Taxa fixa" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value=''}"/>
                            <input type="number" class="btn five bold box-hover padding-5" name="floating-interest-rate" step="0.01" value="" placeholder="Taxa variável" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value=''}"/>
                            <input type="submit" name="submit" class="btn five bold box-hover padding-5 impact submit" value="CALCULAR">
                        </div>
                    </form>
                </div>

                <div id="proposal-report" class="box two ground margin-top-15 padding-10"></div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
        <% include ./product/partial %>
        <script>
            //valor / (times/
            document.getElementById("proposal-form").addEventListener("submit", (e) => {
                e.preventDefault();
                e.stopPropagation();

                let proposal = {
                    value: parseFloat(document.getElementById("proposal-form").elements.namedItem("value").value),
                    times: parseInt(document.getElementById("proposal-form").elements.namedItem("times").value),
                    fixed_interest_rate: parseFloat(document.getElementById("proposal-form").elements.namedItem("fixed-interest-rate").value),
                    floating_interest_rate: parseFloat(document.getElementById("proposal-form").elements.namedItem("floating-interest-rate").value),

                    installments: [],
                    total_value: 0
                };

                if(!proposal.value || proposal.value == NaN){
                    return alert("O valor da proposta é inválido!");
                };

                if(!proposal.times || proposal.times == NaN){
                    return alert("O parcelamento da proposta é inválido!");
                };

                if(!proposal.fixed_interest_rate || proposal.fixed_interest_rate == NaN){
                    return alert("A taxa fixa da proposta é inválida!");
                };

                if(!proposal.floating_interest_rate || proposal.floating_interest_rate == NaN){
                    return alert("A taxa variável da proposta é inválida!");
                };

                function factoryProposal(proposal){
                    let result1 = lib.roundValue(proposal.value + (proposal.value * (proposal.fixed_interest_rate / 100)));
                    proposal.floating_interest_rate = lib.roundValue(proposal.floating_interest_rate * proposal.times);
                    proposal.total_value = lib.roundValue(result1 + (result1 * proposal.floating_interest_rate / 100));
                                    
                    for(i=1;i<=proposal.times;i++){
                        let installment = {
                            time: i,
                            value: lib.roundValue(proposal.total_value / proposal.times)
                        };

                        proposal.installments.push(installment);
                    };

                    console.log(proposal);
                    return proposal
                };

                proposal = factoryProposal(proposal);
                // console.log(proposal);

                let html = "";
                html += "<div class='container'>";
                html += "<div class='mobile-box two center box-hover padding-5'>Parcelas: "+proposal.times+"</div>";
                html += "<div class='mobile-box two center box-hover padding-5'>Valor total: $"+proposal.total_value.toFixed(2)+"</div>";

                for(i in proposal.installments){
                    html += "<div class='box one box-hover padding-5'>";
                    html += "<div class='container'>";
                    html += "<div class='mobile-box two center'>"+proposal.installments[i].time+"ª parcela:</div>";
                    html += "<div class='mobile-box two center'>$"+proposal.installments[i].value.toFixed(2)+"</div>";
                    html += "</div>";
                    html += "</div>";
                };

                html += "</div>";

                document.getElementById("proposal-report").innerHTML = html;
            });
        </script>
	</footer>
</html>