<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header>
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
			<div class="right">
				<a class="active" href="/login">Log in</a>
			</div>
		</header>
        <% include ./partials/nav %>
		<section>
			<div class="container">
                <div class="box-1">
                	<h3>Ainda não é representante J.A Rio Militar?</h3>
                	<h3>Cadastre-se agora para se tornar um parceiro da marca militar que mais cresce no país.</h3><br>
                	<button onclick="window.location.href='/signup'" class="btn-explicit bold">Desejo ser representante J.A Rio Militar</button>
                </div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
        <% include ./product/partial %>
        </script>
	</footer>
</html>