<nav>
	<select class="hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="" disabled selected>Catálogo</option>
	    <option value="/product/manage">Gerir Produtos</option>
	</select>

	<select class="hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="" disabled selected>Vendas</option>
	    <option value="/seam/manage">Gerir Vendas</option>
	</select>

	<select class="hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="" disabled selected>Vendas</option>
	    <option value="/seam/manage">Gerir Vendas</option>
	</select>

	<select class="hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="" disabled selected>Vendas</option>
	    <option value="/seam/manage">Gerir Vendas</option>
	</select>
</nav>